# Autoriser les requêtes POST
<IfModule mod_rewrite.c>
RewriteEngine On
</IfModule>

<Files "create-checkout-session.php">
    Require all granted
</Files>

# Associer PHP correctement
AddType application/x-httpd-php .php

# Désactiver blocage sécurité éventuel
<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>
